---
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
---

<Layout
    title="Portfolio's Leyner Cordoba"
    description="Portfolio and blog of Leyner Cordoba"
>
    <main class="px-4 min-h-screen pb-24">
        <Container class="pt-32 pb-12">
            <h2
                class="font-bold mb-6 border-b-4 border-orange-300 dark:border-white/50 w-60"
            >
                Blog
            </h2>
            <div class="grid gap-4 md:grid-cols-2 grid-cols-1">
                <div
                    class="flex justify-center flex-wrap text-pretty p-3 hover:scale-90 duration-500 hover:border hover:border-orange-300 hover:dark:border-white/20 bg-orange-300/10 dark:bg-white/10 text-white rounded-lg"
                >
                    <a href="/posts/post-1">
                        <img
                            alt=""
                            loading="lazy"
                            class="rounded-lg"
                            src="/images/projects/project-1.webp"
                        />
                        <h2
                            class="text-black dark:text-white text-center font-semibold pt-4 pb-2"
                        >
                            AWS Identity Federation and Cognito
                        </h2>
                        <p class="text-left dark:text-white text-black">
                            AWS Identiti Federation is alternative to do log in using thrie
                        </p>
                    </a>
                </div>
                <div
                    class="flex justify-center flex-wrap text-pretty p-3 hover:scale-90 duration-500 hover:border hover:border-orange-300 hover:dark:border-white/20 bg-orange-300/10 dark:bg-white/10 text-white rounded-lg"
                >
                    <a href="/posts/post-1">
                        <img
                            alt=""
                            loading="lazy"
                            class="rounded-lg"
                            src="/images/projects/project-1.webp"
                        />
                        <h2
                            class="text-black dark:text-white text-center font-semibold pt-4 pb-2"
                        >
                            Lorem Ipsum
                        </h2>
                        <p class="text-left dark:text-white text-black">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Nam fermentum feugiat augue. Aenean euismod at
                            felis sed suscipit. In volutpat ex vel interdum
                            gravida. Vivamus eu urna quis arcu tempus porta.
                            Aenean nulla elit, placerat eu augue vel, imperdiet
                            efficitur urna. Nullam mauris nunc, rhoncus ac
                            scelerisque sed, dictum sit amet elit.
                        </p>
                    </a>
                </div>
                <div
                    class="flex justify-center flex-wrap text-pretty p-3 hover:scale-90 duration-500 hover:border hover:border-orange-300 hover:dark:border-white/20 bg-orange-300/10 dark:bg-white/10 text-white rounded-lg"
                >
                    <a href="/posts/post-1">
                        <img
                            alt=""
                            loading="lazy"
                            class="rounded-lg"
                            src="/images/projects/project-1.webp"
                        />
                        <h2
                            class="text-black dark:text-white text-center font-semibold pt-4 pb-2"
                        >
                            Lorem Ipsum
                        </h2>
                        <p class="text-left dark:text-white text-black">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Nam fermentum feugiat augue. Aenean euismod at
                            felis sed suscipit. In volutpat ex vel interdum
                            gravida. Vivamus eu urna quis arcu tempus porta.
                            Aenean nulla elit, placerat eu augue vel, imperdiet
                            efficitur urna. Nullam mauris nunc, rhoncus ac
                            scelerisque sed, dictum sit amet elit.
                        </p>
                    </a>
                </div>
                <div
                    class="flex justify-center flex-wrap text-pretty p-3 hover:scale-90 duration-500 hover:border hover:border-orange-300 hover:dark:border-white/20 bg-orange-300/10 dark:bg-white/10 text-white rounded-lg"
                >
                    <a href="/posts/post-1">
                        <img
                            alt=""
                            loading="lazy"
                            class="rounded-lg"
                            src="/images/projects/project-1.webp"
                        />
                        <h2
                            class="text-black dark:text-white text-center font-semibold pt-4 pb-2"
                        >
                            Lorem Ipsum
                        </h2>
                        <p class="text-left dark:text-white text-black">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Nam fermentum feugiat augue. Aenean euismod at
                            felis sed suscipit. In volutpat ex vel interdum
                            gravida. Vivamus eu urna quis arcu tempus porta.
                            Aenean nulla elit, placerat eu augue vel, imperdiet
                            efficitur urna. Nullam mauris nunc, rhoncus ac
                            scelerisque sed, dictum sit amet elit.
                        </p>
                    </a>
                </div>
            </div>
        </Container>
    </main>
</Layout>