<span
    class="bg-orange-500/30
        text-orange-800
        text-xs
        font-medium
        rounded
        dark:bg-orange-300/50
        dark:text-white
        w-32
        h-6
        flex
        items-center
        justify-center"
>
    <slot />
</span>
