<a
    {...Astro.props}
    class="rounded-full
    border
    border-white/10
    flex
    justify-center
    items-center
    gap-x-2 py-2 px-3 lg:py-2 lg:px-4
    text-xs lg:text-base
    bg-orange-300/30
    text-black
    dark:text-white
    dark:bg-white/10
    hover:scale-110
    hover:bg-orange-300/80
    dark:hover:bg-orange-200
    dark:hover:text-[#00091d]
    transition"
    target="_blank"
    rel="noopener noreferrer"
>
    <slot />
</a>
